# Practical Assignment 3

Note: Take the set element as per your choice

## Basic Set Programs

1. Create a set and display its elements

In [7]:
my_set = {10, 20, 30, 40, 50}

print("Elements of the set are: ")
for element in my_set:
    print(element)

Elements of the set are:
50
20
40
10
30

2. Add an element to a set

In [10]:
my_set = {10, 20, 30}

my_set.add(40)

print("Set after adding an element: ", my_set)

Set after adding an element:  {40, 10, 20, 30}

3. Remove an element from a set

In [13]:
my_set = {1, 2, 3, 4, 5}

my_set.remove(3)

print("Set after removing 3: ", my_set)

Set after removing 3:  {1, 2, 4, 5}

4. Clear all the element from a set

In [16]:
my_set = {10, 20, 30, 40}

my_set.clear()

print("Set after clearing: ", my_set)

Set after clearing:  set()

5. Copy a set to another set

In [21]:
original_set ={1, 2, 3, 4}

copied_set = original_set.copy()

print("Original Set: ", original_set)
print("Copied Set: ", copied_set)

Original Set:  {1, 2, 3, 4}
Copied Set:  {1, 2, 3, 4}

In [23]:
my_set = {10, 20, 30, 40, 50}

if 30 in my_set:
    print("30 exist in the set")
else:
    print("30 does not exist in the set")

30 exist in the set

7. Find the length of a set

In [26]:
my_set = {5, 10, 15, 20}

length = len(my_set)

print("Length of the set is: ", length)

Length of the set is:  4

8. Iterate through a set using a loop

In [29]:
my_set = {100, 200, 300, 400}

print("Elements in the set: ")
for item in my_set:
    print(item)

Elements in the set:
200
100
400
300

## Set Operations

9. Find the union of two sets

In [35]:
set1 = {1 , 2, 3}
set2 = {3 , 4, 5}

union_set = set1.union(set2)

print("Union of sets: ", union_set)

Union of sets:  {1, 2, 3, 4, 5}

10. Find the intersection of two sets

In [40]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection_set = set1.intersection(set2)

print("Intersection if sets: ", intersection_set)

Intersection if sets:  {3, 4}

11. Find the difference between two sets

In [45]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7}

difference_set = set1.difference(set2)

print("Difference (set1 - set2):", difference_set)

Difference (set1 - set2): {1, 2, 3}

12. Find the symmetric difference between two sets

In [50]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

sym_diff = set1.symmetric_difference(set2)

print("Symmetric Difference: ", sym_diff)

Symmetric Difference:  {1, 2, 5, 6}

13. Check if one set is the subset of another

In [53]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

if set1.issubset(set2):
    print("set1 is a subset of set2")
else:
    print("set1 is NOT a subset of set2")

set1 is a subset of set2

14. Check if one set is superset of another

In [58]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

if set1.issuperset(set2):
    print("set1 is a superset of set2")
else:
    print("set1 is NOT a superset of set2")

set1 is a superset of set2

15. Check if two sets are disjoint

In [63]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The sets are disjoint")
else: 
    print("The set are NOT disjoint")

The sets are disjoint

## Set Applications

16. Remove duplicates from a list using a set

In [69]:
my_list = [1, 2, 2, 3, 4, 4, 5]

unique_set = set(my_list)

unique_list = list(unique_set)

print("Original list: ", my_list)
print("List after removing duplicates: ", unique_list)

Original list:  [1, 2, 2, 3, 4, 4, 5]
List after removing duplicates:  [1, 2, 3, 4, 5]

17.Convert a list to a set and back to a list

In [72]:
my_list = [1, 2, 2, 3, 4, 4, 5]

my_set = set(my_list)

new_list = list(my_set)

print("Original list: ", my_list)
print("Set (no duplicates): ", my_set)
print("List after conversion: ", new_list)

Original list:  [1, 2, 2, 3, 4, 4, 5]
Set (no duplicates):  {1, 2, 3, 4, 5}
List after conversion:  [1, 2, 3, 4, 5]

18. Find common elements in two lists using sets

In [75]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

set1 = set(list1)
set2 = set(list2)

common_elements = set1.intersection(set2)

common_list = list(common_elements)

print("Common elements: ", common_list)

Common elements:  [4, 5]

19. Get element in one list but not in another using sets

In [78]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 60]

set1 = set(list1)
set2 = set(list2)

difference = set1 - set2

result = list(difference)

print("Elements in list1 but not in list2: ", result)

Elements in list1 but not in list2:  [10, 50, 20]

20 .Use set comprehension to generate a set (e.g., squares or primes)

In [82]:
squares = {x**2 for x in range(1, 11)}

print("Squares: ", squares)

Squares:  {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

21. Create and print a frozenset

In [ ]:
normal_set = {1, 2, 3, 4, 5}

frozen = frozenset