# ASSIGNMENT: 2

1]Store and display student information (name, age, grade).

In [1]:
student=("Arpit",19,"A grade")
print("student name:",student[0])
print("student age:",student[1])
print("student grade:",student[2])

student name: Arpit
student age: 19
student grade: A grade

2]List prices of grocery items and total them.

In [2]:
groceries=(
("apple",10),
("milk",20),
("soap",30),
("bottle",40),
("rice",50)
)
print("grocery list:")
total_cost=0
for item in groceries:
    print(f"{item[0]}: rupee{item[1]}")
    total_cost+= item[1]
    
print("Total cost: rupee",total_cost)

grocery list:
apple: rupee10
milk: rupee20
soap: rupee30
bottle: rupee40
rice: rupee50
Total cost: rupee 150

3]Pair items with prices using tuples. ("Milk", 25), ("Eggs", 50), ("Bread", 20)

In [3]:
groceries = (("Milk",25),("Eggs", 50),("Bread", 20))

for item in groceries:
    print(f"{item[0]}: {item[1]}")

Milk: 25
Eggs: 50
Bread: 20

4]Store and display train schedule as tuples. ("Rajdhani","10:00"), ("Shatabdi","12:30"), ("Duronto","17:00")

In [4]:
Schedule=(
    ("Rajdhani","10:00"),
    ("Shatabdi","12:30"),
    ("Duronto","17:00")
)
print("Train and its Time:")
for train in Schedule:
    print(f"{train[0]}={train[1]}")

Train and its Time:
Rajdhani=10:00
Shatabdi=12:30
Duronto=17:00

5] Sort employee records by salary. ("John", 40000), ("Alice", 55000), ("Raj", 30000)

In [5]:
employee_rec = (("John", 40000), ("Alice", 55000), ("Raj", 30000))

sorted_employees = sorted(employee_rec, key = lambda x: x[1])

for emp in sorted_employees:
    print(emp)

('Raj', 30000)
('John', 40000)
('Alice', 55000)

6]Count how many students scored above 75 marks. marks = (67, 88, 92, 74, 76, 55)

In [6]:
students = (67, 88, 92, 74, 76, 55)

above_75 = 0
for student in students:
    if(student > 75):
        above_75+=1

print(f"The number of students who scored above 75 is {above_75}")

The number of students who scored above 75 is 3

7]Create a tuple of stock prices and find the max. Prices = (154.5, 160.2, 149.8, 170.1)

In [7]:
prices = (154.5, 160.2, 149.8, 170.1)

max = 0
for price in prices:
    if max < price:
        max = price
print(f"{max}")

170.1

8]Log temperature readings during the day. Find the average temperature temperatures = (29.5, 30.0, 32.2,
31.5, 28.9)

In [8]:
temperatures = (29.5, 30.0, 32.2, 31.5, 28.9)
Average_temp=sum(temperatures)/len(temperatures)
print(f"Average Temperature={Average_temp:.2f} c")

Average Temperature=30.42 c

9]Schedule appointments (name, time). appointments = ("Doctor", "10:00 AM"), ("Meeting","2:00 PM")

In [1]:
appointments = (
("Doctor", "10:00 AM"),
("Meeting","2:00 PM")
)
print("Appointments:")
for appointment in appointments:
    print(f"{appointment[0]}->{appointment[1]}")

Appointments:
Doctor->10:00 AM
Meeting->2:00 PM

10]Store contact info (name, phone number). contacts = ("Anil","9876543210"), ("Priya","9123456780")

In [11]:
contacts = (
("Anil","9876543210"),
("Priya","9123456780")
)
print("Contact List:")
for contact in contacts:
    print(f"Name:{contact[0]}, Phone number:{contact[1]}")

Contact List:
Name:Anil, Phone number:9876543210
Name:Priya, Phone number:9123456780

11]Display exam schedule with subject and time. exams = ("Math", "9:00 AM"), ("Science", "11:30 AM"),
("English", "2:00 PM")

In [ ]:
exams = ("Math", "9:00 AM"), ("Science", "11:30 AM"), ("English", "2:00 PM") 

for exam in exams:
    print(f"{exam[0]}: {exam[1]}")

Math: 9:00 AM
Science: 11:30 AM
English: 2:00 PM