In [3]:
i = 1
while i < 6:
    print(i)
    if i == 3:
      break
    i+=1

1
2
3

In [9]:
i = 0
while i < 6:
    i+=1
    if i ==3:
      continue
    print(i)

1
2
4
5
6

In [11]:
i = 1
while i < 6:
    print(i)
    i+=1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

##

## for loop

In [21]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
for x in "banana":
    print(x)

for x in "banana":
    print(x)

apple
banana
cherry
b
a
n
a
n
a
b
a
n
a
n
a

In [23]:
for x in range (6):
    print(x)

0
1
2
3
4
5

In [25]:
for x in range (2,6): print(x)

2
3
4
5

In [27]:
for x in range(2,30,3): print(x)

2
5
8
11
14
17
20
23
26
29

In [29]:
 for x in range (2, 30):
     print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [ ]:
# else is for loop

In [31]:
for x in range(6):print (x)
else:
    print("Finally finished")

0
1
2
3
4
5
Finally finished

In [35]:
for x in range(6):
    if x == 3:break 
    print(x)
else:
    print("Finally finished !")

0
1
2

In [43]:
adj = ["red", "big","tasty"]
fruits = ["apple", "banana","cherry"]
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [45]:
for x in  [0,1,2]:
    pass