In [8]:
thisset={ "APPLE","BANANA","CHERRY"}
print(thisset)

{'APPLE', 'CHERRY', 'BANANA'}

In [10]:
thisset={ "APPLE","BANANA","CHERRY","APPLE"}
print(thisset)

{'APPLE', 'CHERRY', 'BANANA'}

In [14]:
thisset={ "APPLE","BANANA","CHERRY",True,2,3}
print(thisset)

{True, 2, 3, 'BANANA', 'CHERRY', 'APPLE'}

In [16]:
set1={"apple","banana","cherry"}
set2={1,23,4,5,7,5}
set3={True,False,True,False}
set4={"abc",3,4564,True,45,"male"}
print(set4)

{True, 3, 4564, 'male', 'abc', 45}

In [18]:
print(type(set4))

<class 'set'>

In [20]:
thisset=set(("apple","banana","cherry"))
print(thisset)

{'apple', 'banana', 'cherry'}

In [24]:
thisset=("apple","banana","cherry")
print("banana" in thisset)

True

In [26]:
thisset=("apple","banana","cherry")
print("banana"  not in thisset)

False

In [30]:
thisset={"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'apple', 'banana', 'cherry'}

In [36]:
thisset = {"apple","banana","cherry"}
tropical = {"pineapple","mango","papaya"}
thisset.update(tropical)
print(thisset)

{'papaya', 'apple', 'mango', 'banana', 'cherry', 'pineapple'}

In [38]:
thisset = {"apple","banana","cherry"}
mylist={"kiwi","orange"}
thisset.update(mylist)
print(thisset)

{'kiwi', 'apple', 'banana', 'cherry', 'orange'}

In [40]:
thisset = {"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [42]:
thisset = {"apple","banana","cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [44]:
thisset = {"apple","banana","cherry"}
x= thisset.pop()
print(x)
print(thisset)

apple
{'banana', 'cherry'}

In [48]:
thisset = {"apple","banana","cherry"}
thisset.clear()
print(thisset)

set()

In [50]:
thisset = {"apple","banana","cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [54]:
thisset = {"apple","banana","cherry"}
for x in thisset:
    print(x)

apple
banana
cherry

In [64]:
set1= {"a","b","c"}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)

{1, 2, 'a', 3, 'b', 'c'}

In [60]:
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = set1|set2
print(set3)

{1, 2, 'a', 3, 'b', 'c'}

In [62]:
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = {"John","Annie"}
set4 = {"apple","banana","cherry"}
myset = set1.union(set2,set3,set4)
print(myset)

{1, 2, 'a', 3, 'apple', 'banana', 'cherry', 'John', 'b', 'c', 'Annie'}

In [68]:
x = {"a","b","c"}
y = (1,2,3)

z = x.union(y)
print(z)

{1, 2, 'a', 3, 'b', 'c'}

In [70]:
set1 = {"a","b","c"}
set2 = {1,2,3}
set1.update(set2)
print(set1)

{1, 2, 'a', 3, 'b', 'c'}

In [72]:
set1= {"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set3= set1.intersection(set2)
print(set3)

{'apple'}

In [74]:
set1= {"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set3= set1&set2

print(set3)

{'apple'}

In [78]:
set1= {"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [82]:
set1 = {"APPLE", 1 ,"BANANA",2,"CHERRY"}
set2 = {False,"google",2,True,"APPLE"}
set3 = set1.intersection(set2)
print(set3)

{True, 2, 'APPLE'}

In [84]:
set1= {"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set3 = set1.difference(set2)
print(set3)

{'banana', 'cherry'}

In [86]:
set1= {"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set3 = set1-(set2)
print(set3)

{'banana', 'cherry'}

In [92]:
set1= {"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [106]:
set1 = {"apple","banana","cherry"}
set2 ={"google","microsoft","apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'cherry', 'banana', 'microsoft', 'google'}

In [108]:
set1 = {"apple","banana","cherry"}
set2 ={"google","microsoft","apple"}
set3 = set1^set2
print(set3)

{'cherry', 'banana', 'microsoft', 'google'}

In [110]:
set1 = {"apple","banana","cherry"}
set2 ={"google","microsoft","apple"}
set1.symmetric_difference_update(set2)
print(set1)

{'microsoft', 'banana', 'cherry', 'google'}