In [1]:
thistuple= ("apple","banana","cherry","apple","cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [7]:
tuple1= ("apple","banana","cherry")
tuple2 = (1,2,3,4,5)
tuple3=(True, False,True)
tuple4=["abc",45,True,408,"male"]
print(type(tuple4))

<class 'list'>

In [9]:
tup=2,3,4,5
print(tup)

(2, 3, 4, 5)

In [17]:
tup =("ghjk","pythion")
print(tup)

('ghjk', 'pythion')

In [19]:
tup = tuple([7,8,9,])
print(tup)

(7, 8, 9)

In [21]:
tup= ()
print(tup)

()

In [23]:
tup = (10,)
print(tup)
print(type(tup))
tup =(10)
print(tup)
print(type(tup))

(10,)
<class 'tuple'>
10
<class 'int'>

In [25]:
thistuple= ("apple","banana","cherry","apple","cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [27]:
thistuple= ("apple","banana","cherry")
print(thistuple[1])

banana

In [29]:
thistuple= ("apple","banana","cherry")
print(thistuple[-1])

cherry

In [31]:
thistuple= ("apple","banana","cherry","oragne","kiwi","melon","mango")
print(thistuple[2:5])

('cherry', 'oragne', 'kiwi')

In [33]:
thistuple= ("apple","banana","cherry","oragne","kiwi","melon","mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'oragne')

In [35]:
thistuple= ("apple","banana","cherry","oragne","kiwi","melon","mango")
print(thistuple[2:])

('cherry', 'oragne', 'kiwi', 'melon', 'mango')

In [37]:
thistuple= ("apple","banana","cherry","oragne","kiwi","melon","mango")
print(thistuple[-4:-1])

('oragne', 'kiwi', 'melon')

In [39]:
thistuple= ("apple","banana","cherry")
if "apple" in thistuple:
    print("Yes")

Yes

In [41]:
x = ("apple","banana","cherry")
y= list(thistuple)
y.append("oragne")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'oragne')

In [47]:
thistuple= ("apple","banana","cherry")
y = ("orage",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orage')

In [49]:
thistuple= ("apple","banana","cherry")
y = list(thistuple)
y.remove("apple")
thisstuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry')

In [51]:
thistuple= ("apple","banana","cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [53]:
tup = (1,2,3,4,5,5)
for x in tup:
    print(x,end="")

123455

In [55]:
tup1 = (1,2,3,4)
tup2 = ("python","geek")
print(tup1+tup2)

(1, 2, 3, 4, 'python', 'geek')

In [57]:
tup = ("Python",)*3
print(tup[1:])
print(tup[::-1])
print(tup[2:4])

('Python', 'Python')
('Python', 'Python', 'Python')
('Python',)

In [59]:
tup=("imutable",True,67)
print(tup)

('imutable', True, 67)

In [61]:
a= [1,2,3,4]
tup=tuple(a)
print(tup)

(1, 2, 3, 4)

In [63]:
a,b,c = (100,200,300)
print(a)
print(b)
print(c)

100
200
300

In [65]:
a,_,c=(100,200,300)
print(a)

print(c)

100
300

In [67]:
fruits("apple","banana","cherry","strawberry","rasberry")
(green,yellow,*red) = fruits
print(green)
print(yellow)
print(red)

NameError: name 'fruits' is not defined

In [69]:
fruits("apple","mango","papya","pineapple","cheery")
(green, *tropical, red)= fruits
print(green)
print(tropical)
print(red)

NameError: name 'fruits' is not defined

In [71]:
nested = (1,2,3,4,5)
a,(b,c),d = nested
print(a)
print(b)
print(c)
print(d)

ValueError: too many values to unpack (expected 3)

In [73]:
def add(*args):
    return sum (args)
print(add(1,2,3,4))

10

In [77]:
def add(a,b,c):
    return a+b+c

nums=(1,2,3)
print(add(*nums))

6

In [79]:
thistuple= ("apple","banana","cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [81]:
thistuple= ("apple","banana","cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [83]:
t= ("red","green","blue","yelow")
for i in color in enumrate(t):
    print(f"index{i}:{color}")

NameError: name 'color' is not defined

In [85]:
thistuple= ("apple","banana","cherry")
i = 0
while i<len(thistuple):
    print(thistuple[i])
    i= i+1

apple
banana
cherry

In [ ]:
t = ("red", "green",)